
/* navigation bar */
.navbar-brand {

    background-color: #4AAAA5;
    color: white;
}

.nav-link {
        margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
  }


/* content relevant to all three pages of portfolio site */

body {
    background: url("images/cloudy-day.png");
    background-size: cover;
}

.container-fluid {
    background: white;
}

/* Portfolio */
.card-img-overlay {
    position: relative;
}

.card-title {

    background-color: #4AAAA5;
    text-align: center;


}

/* About */

.img-thumbnail {

    float: left;
    width: 250px;
    height: auto;
}