
/* navigation bar */
.navbar-brand.custom {
    background-color: #4AAAA5;
    color: white;
}

.navbar-brand.custom:hover {
    color:white;
}

.nav-link {
        margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
  }

  .bg-dark .bg-dark {
    background-color: #343a40;
    @include media-breakpoint-up(sm) {
        background-color: transparent;
    }
}


/* content relevant to all three pages of portfolio site */

body {
    background: url("images/cloudy-day.png");
    background-size: cover;
}

.container-fluid {
    background: white;
    max-width: 95%;
    margin: auto;
}

h2 {
    color: #4AAAA5;
    font-family: 
}

hr {
    border: 1px solid lightgray;
}

/* Portfolio */
.card-img-overlay {
    position: relative;
}

.card-title {

    background-color: #4AAAA5;
    text-align: center;


}

/* About */

.img-thumbnail {

    float: left;
    width: 250px;
    height: auto;
}

/* Contact  */

.btn.btn-primary {
    background-color: #4AAAA5;
}